@media only screen and (max-width: 1515px) {
  .container {
    width: 75%;
  }
}
@media only screen and (max-width: 1300px) {
  .container {
    width: 80%;
  }
  .top-bar .row:last-child .col:first-child {
    margin-right: 5rem;
  }
  .description .col:last-of-type {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .description__testimonials h3 {
    padding-left: 8rem;
  }
  .description__testimonials > img {
    padding-left: 8rem;
    margin-top: 3rem;
  }
  .description__testimonials > p {
    padding-left: 8rem;
    padding-right: 10rem;
  }
  .description__carousel {
    padding-left: 8rem;
    padding-right: 10rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 85%;
  }
  .slider h2 {
    font-size: 4rem;
  }
  .slider p {
    font-size: 1.6rem;
  }
  .btn-start {
    font-size: 1.2rem;
  }
  .top-bar__menu li:not(:last-of-type) {
    margin-right: 2rem;
  }
  .top-bar__title p:first-child {
    margin-right: 2rem;
  }
  .provides__element img {
    margin-top: 0;
  }
  .provides__introduction .col {
    padding-bottom: 2rem;
  }
  .provides__element h3,
  .provides__element p {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .provides__introduction h2 {
    top: 15%;
    font-size: 3rem;
    line-height: 3rem;
  }
  .provides__introduction > p {
    top: 31%;
    font-size: 1.4rem;
  }
  .provides__introduction > button {
    top: 38%;
    font-size: 1.1rem;
  }
  .app-footer .row:first-of-type .col:first-of-type {
    width: calc(40% - 2rem);
  }
  .app-footer .row:first-of-type .col:nth-of-type(2) {
    width: calc(20% - 2rem);
  }
  .app-footer .row:first-of-type .col:last-of-type {
    width: calc(40% - 2rem);
  }
  .btn-login {
    padding: 0.8rem 1rem 0.8rem 1rem;
    font-size: 9px;
  }
  .top-bar .row:last-child .col:first-child {
    margin-right: 2rem;
  }
  .search-container select {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .service .col h3 {
    font-size: 1.7rem;
  }
  .featured__container div:nth-of-type(2),
  .featured__container h2,
  .featured__container p {
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }
  .featured__container--footer {
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }
  .featured__image p {
    padding: 2rem 1rem 2rem 1rem;
    font-size: 1.6rem;
  }
  .rating {
    margin-top: 1rem;
  }
  .featured__container h2 {
    margin-top: 1rem;
  }
  .featured__container > p {
    margin-top: 1rem;
  }
  .featured__container--footer {
    margin-top: 1rem;
  }
  .transform__txt h2 {
    font-size: 3rem;
  }
  .transform__txt p {
    font-size: 1.4rem;
  }
  .transform__category--list h3 {
    font-size: 1.5rem;
  }
  .transform__category--list p {
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
  }
  .transform__bottom img:last-of-type {
    right: 8rem;
  }
  .transform__bottom {
    padding-bottom: 5rem;
  }
  .transform__bottom h3 {
    font-size: 2.5rem;
  }
  .transform__bottom p {
    font-size: 1.2rem;
  }
  .transform__form input {
    width: 45rem;
    padding: 1.5rem 0 1.5rem 3rem;
  }
  .transform__form button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    bottom: 40%;
    right: 7rem;
  }
  .recent-courses__header > img {
    margin-top: 6rem;
  }
  .recent-courses__header h2 {
    font-size: 3rem;
  }
  .recent-courses__header p {
    font-size: 1.3rem;
  }
  .recent-courses__menu {
    margin-top: 1rem;
  }
  .recent-courses__menu li a {
    font-size: 1.2rem;
  }
  .recent-courses .row:nth-of-type(2) {
    padding-bottom: 5rem;
  }
  .recent-courses .row:nth-of-type(3) {
    margin-bottom: 6rem;
  }
  .btn-view {
    font-size: 1.1rem;
    padding: 1rem 3rem;
  }
  .description__testimonials h3 {
    padding-left: 5rem;
    font-size: 2.2rem;
  }
  .description__testimonials > img {
    padding-left: 5rem;
    margin-top: 2rem;
    width: 25%;
  }
  .description__testimonials > p {
    margin-top: 1.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .description__carousel {
    margin-top: 1.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .description__carousel--content h4 {
    font-size: 1.6rem;
  }
  .description__carousel--content p {
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .btn-prev {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }
  .btn-next {
    font-size: 1.2rem;
  }
  .btn-next:hover {
    padding: 0.8rem 2rem;
  }
  .description .col:last-of-type {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .description__featured--list h3 {
    font-size: 1.5rem;
  }
  .description__featured--list p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 88%;
  }
  .top-bar__social--list {
    position: absolute;
    top: -7.7rem;
    right: 6.3rem;
  }
  .top-bar__social--list > li {
    background-color: darkblue;
  }
  .top-bar__social--list a {
    color: aliceblue;
  }
  .top-bar .row:last-child .col:first-child {
    margin-right: 0;
  }
  .top-bar .row:last-child .col:nth-of-type(3) {
    width: 58%;
  }
  .top-bar__input--search {
    height: 3rem;
    padding-left: 10rem;
  }
  .top-bar .row:first-child {
    flex-direction: column;
  }
  .top-bar__menu {
    margin-top: 3rem;
    justify-content: center;
  }
  .top-bar .row:last-child {
    bottom: -35%;
  }
  .top-bar__menu li:not(:last-of-type) {
    margin-right: 3rem;
  }
  .slider h2 {
    font-size: 2.5rem;
  }
  .slider p {
    font-size: 1.4rem;
  }
  .btn-start {
    font-size: 1rem;
    font-weight: normal;
    border-width: 1px;
    padding: 0.8rem 1.5rem;
  }
  .search-container select {
    height: 3rem;
  }
  .search-container button {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }
  .btn-login {
    height: 3rem;
  }
  .top-bar .row:last-child .col:first-child p a {
    font-size: 1.8rem;
  }
  .service .row {
    justify-content: flex-start;
    margin: 0 -15px;
  }
  .service .col {
    margin: 2rem 15px;
    width: calc(50% - 3rem);
  }
  .service .col h3 {
    font-size: 1.5rem;
  }
  .featured__header h2 {
    font-size: 3rem;
  }
  .featured .row:nth-of-type(2) {
    padding: 3rem 0rem 5rem 0rem;
  }
  .featured .col {
    width: calc(33.333% - 0.5rem);
  }
  .featured .container-fluid {
    height: 30rem;
    bottom: -80%;
  }
  .recent-courses .row:nth-of-type(2) {
    padding: 3rem 0rem 5rem 0rem;
  }
  .recent-courses .col {
    width: calc(33.333% - 0.5rem);
    margin-top: 0;
  }
  .recent-courses__header h2 {
    font-size: 2.8rem;
  }
  .transform {
    margin-top: 21rem;
  }
  .transform .row {
    padding: 3rem 0rem 5rem 0rem;
    margin: 0 -4px;
  }
  .transform .col:first-of-type {
    margin: 4px 4px;
    width: calc(50% - 0.8rem);
  }
  .transform .col:not(:first-of-type) {
    margin: 4px 4px;
    width: calc(25% - 0.8rem);
  }
  .transform__txt h2 {
    font-size: 2.8rem;
    margin-top: 1.5rem;
  }
  .transform__txt p {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-right: 2rem;
  }
  .transform__bottom h3 {
    font-size: 2.2rem;
    margin-top: 2rem;
  }
  .transform__bottom p {
    margin-top: 1.5rem;
    width: 280px;
    text-align: center;
    line-height: 2rem;
  }
  .transform__form {
    margin-top: 2.5rem;
  }
  .transform__bottom img:last-of-type {
    right: 3.5rem;
  }
  .transform__form input {
    width: 35rem;
    padding: 1rem 2rem;
  }
  .transform__form button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    bottom: 50%;
    right: 5.3rem;
  }

  .transform__bottom {
    padding-bottom: 2.6rem;
  }
  .description .col {
    padding-top: 4rem;
  }
  .description__testimonials h3 {
    padding-left: 2rem;
  }
  .description__testimonials > img {
    padding-left: 2rem;
    width: 18%;
    margin-top: 1.5rem;
  }
  .description__testimonials > p {
    margin-top: 1.2rem;
    padding-left: 2rem;
  }
  .description__carousel {
    padding-left: 2rem;
  }
  .description__carousel--content img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }
  .description__carousel--content h4 {
    font-size: 1.4rem;
  }
  .description__carousel--content p {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  .description__carousel--list img {
    width: 3.8rem;
  }
  .description__btn {
    margin-top: 3rem;
    padding-left: 2rem;
  }
  .description .col:last-of-type {
    padding-left: 2rem;
    padding-right: 3rem;
  }
  .description__featured--content {
    margin-bottom: 3rem;
  }
  .description__featured--list h3 {
    font-size: 1.4rem;
  }
  .description__featured--content img {
    width: 6rem;
    height: 6rem;
  }
  .description__featured--list p {
    margin-top: 0.8rem;
  }
  .description__btn {
    margin-bottom: 3rem;
  }
  .recent-courses__menu li:not(:last-of-type) {
    margin-right: 2.5rem;
  }
  .recent-courses__menu {
    width: 55rem;
  }
  .featured__container h2 {
    font-size: 1.6rem;
  }
  .app-footer .row:first-of-type {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4rem;
  }
  .app-footer .row:last-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  .app-footer__useful-link > h4,
  .app-footer__categories > h4 {
    font-size: 1.6rem;
  }
  .useful-link {
    font-size: 1.2rem;
  }
  .app-footer .row:first-of-type .col:first-of-type {
    width: calc(40% - 1rem);
  }
  .app-footer .row:first-of-type .col:nth-of-type(2) {
    width: calc(20% - 1rem);
  }
  .app-footer .row:first-of-type .col:last-of-type {
    width: calc(40% - 1rem);
  }
  .provides__introduction .row {
    margin-left: 0;
    margin-right: 0;
  }
  .provides__introduction h2 {
    font-size: 2.5rem;
    top: 10%;
  }
  .provides__introduction > p {
    font-size: 1.2rem;
    top: 30%;
  }
  .provides__introduction > button {
    font-size: 1rem;
    top: 40%;
    padding: 1rem 3rem;
  }
  .provides__element img {
    width: 10rem;
  }
  .btn-teaching,
  .btn-courses {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1rem;
  }
  .provides__element h3 {
    font-size: 1.8rem;
  }
  .provides__element p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .transform .row {
    justify-content: flex-start;
  }
  .transform .col:first-of-type {
    width: calc(66.666% - 0.8rem);
  }
  .transform .col:not(:first-of-type) {
    width: calc(33.333% - 0.8rem);
  }
  .transform__txt h2 {
    font-size: 2.2rem;
  }
  .featured .col {
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;
  }
  .featured .container-fluid > img {
    height: 75rem;
    bottom: -350%;
    object-fit: cover;
  }
  .transform {
    margin-top: 65rem;
  }
  .transform__bottom img:last-of-type {
    bottom: 0;
    right: 0%;
  }
  .transform__bottom {
    padding-bottom: 0;
  }
  .description > .container-fluid > .row {
    flex-direction: column;
  }
  .description .col {
    width: 100%;
  }
  .recent-courses .col {
    width: calc(50% - 0.5rem);
  }
  .provides__introduction .container {
    position: relative;
    left: 0;
    bottom: 0;
    transform: translate(0, 0);
  }
  .provides__introduction .row {
    flex-direction: column;
  }
  /*  CSS for menu */
  .recent-courses__menu {
    width: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  .recent-courses__menu li:not(:last-of-type) {
    margin-right: 4.5rem;
  }
  .recent-courses__menu .active::after {
    bottom: -1.4rem;
  }
  .recent-courses__menu > li:hover span {
    display: inline-block;
  }
  .recent-courses__menu > li span {
    display: none;
  }
  .recent-courses__menu > li i {
    display: inline-block;
  }
  /* END */
  .provides__introduction .col {
    width: 100%;
  }
  .provides__introduction .container {
    width: 100%;
  }
  .provides__introduction h2 {
    width: auto;
    font-size: 2rem;
    top: 6%;
  }
  .provides__introduction > p {
    font-size: 1rem;
    top: 12%;
  }
  .provides__introduction > button {
    top: 16%;
    padding: 0.8rem 2rem;
  }
  .provides__introduction .col:first-of-type {
    border-right: none;
    border-bottom: 1px dashed #ebd699;
  }
  .app-footer .row:first-of-type {
    margin-top: 8rem;
  }
  .app-footer .row:first-of-type .col:first-of-type {
    width: calc(60% - 1rem);
  }
  .app-footer .row:first-of-type .col:nth-of-type(2) {
    width: calc(40% - 1rem);
  }
  .app-footer .row:first-of-type .col:last-of-type {
    margin-top: 4rem;
    width: calc(60% - 1rem);
  }
  .provides__element p {
    font-size: 1.4rem;
  }
  .app-footer .row:last-of-type {
    flex-direction: column;
  }
  .app-footer__copyright p {
    text-align: center;
  }
  .app-footer__social--list {
    margin-top: 2rem;
    justify-content: center;
  }
  /* Responsive for Top-bar */
  .top-bar .row:last-child {
    bottom: 0;
    background: none;
    flex-direction: column;
    top: 34rem;
    z-index: 300;
    align-items: flex-start;
    padding-right: 0;
    padding-left: 0;
    /* display: none; */
  }
  .top-bar .row:last-child .col:nth-of-type(3) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .top-bar .row:last-child .col:nth-of-type(4) {
    margin-left: auto;
    margin-right: auto;
  }
  .top-bar__social--list {
    top: -33rem;
    left: 3rem;
  }
  .btn-login {
    margin-top: 2rem;
  }
  .search-container {
    display: none;
  }
  .top-bar__menu {
    position: absolute;
    flex-direction: column;
    display: none;
    z-index: 300;
    margin-top: 4rem;
  }
  .top-bar .row:last-child .col:first-child {
    display: none;
  }
  .top-bar__menu a {
    color: white;
    font-size: 1.8rem;
    font-weight: normal;
  }
  .top-bar__social--list li {
    width: 3.5rem;
    height: 3.5rem;
  }
  .top-bar__social--list a {
    font-size: 1.2rem;
  }
  .top-bar__social--list li:not(:last-child) {
    margin-right: 5px;
  }
  .top-bar .row:first-child {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2.2rem;
  }
  .top-bar__menu li {
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
  .openbtn {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 0;
    background: none;
    color: black;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    outline: none;
  }
  .top-bar__social--list {
    display: none;
  }
  .overlay {
    display: block;
  }
  .btn-login {
    display: none;
  }
  .top-bar__social--list > li:first-of-type a {
    background-color: #3b5998;
    border-radius: 50%;
  }
  .top-bar__social--list > li:nth-of-type(2) a {
    background-color: #dd4b39;
    border-radius: 50%;
  }
  .top-bar__social--list > li:nth-of-type(3) a {
    background-color: #55acee;
    border-radius: 50%;
  }
  .top-bar__social--list > li:nth-of-type(4) a {
    background-color: #007bb5;
    border-radius: 50%;
  }
  .top-bar__social--list > li:nth-of-type(5) a {
    background-color: #bb0000;
    border-radius: 50%;
  }
  /* End  */
  .slider h2 {
    font-size: 2rem;
  }
  .slider h2:first-of-type {
    top: 20%;
  }
  .slider h2:last-of-type {
    top: 32%;
  }
  .slider p {
    font-size: 1.2rem;
  }
  .slider p {
    top: 47%;
  }
  .btn-start {
    top: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .app-footer__categories--list > li {
    margin-right: 2rem;
  }
  .provides__introduction h2 {
    top: 2%;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .provides__introduction > p {
    top: 10%;
  }
  .provides__introduction > button {
    top: 13%;
  }
  .recent-courses .col {
    width: 100%;
    margin-top: 8px;
  }
  .transform__form input {
    width: 25rem;
  }
  .transform .col:first-of-type {
    width: 100%;
  }
  .transform .col:not(:first-of-type) {
    width: calc(50% - 8px);
  }
  .slider h2 {
    font-size: 1.6rem;
  }
  .slider h2:first-of-type {
    top: 10%;
    left: 15%;
  }
  .slider h2:last-of-type {
    top: 26%;
    left: 15%;
  }
  .slider p {
    top: 45%;
    font-size: 1rem;
    left: 15%;
  }
  .btn-start {
    top: 60%;
    padding: 0.5rem 1rem;
    left: 15%;
  }
  .featured .col {
    width: 100%;
  }
  .transform {
    margin-top: 120rem;
  }
  .featured .container-fluid > img {
    height: 130rem;
    bottom: -280%;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  /* .service .col{
      width: 100%;
  } */
  .service-container {
    width: 10rem;
    height: 10rem;
  }

  .service-container__icon {
    width: 7.5rem;
    height: 7.5rem;
  }
  .service .col {
    width: calc(50% - 1rem);
    margin: 2rem 0.5rem;
  }
  .service-container__icon img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .service-container__icon--number {
    width: 3.4rem;
    height: 3.4rem;
    font-size: 1.2rem;
    line-height: 3.4rem;
  }
  .service .row {
    padding: 3rem 0rem;
    margin: 0 -0.5rem;
  }
  .service .col h3 {
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }
  .service .col p {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
